* {
	background-color: #DADADA;
}

.holder	{
	height: 300px;
	padding: 80px;
	width:	100%;
	margin:	auto;
	max-width:	1100px;
}

.left {
	height: 100%;
	width: 65%;
}

.right {
	/* height: 100%; */
	width:	350px;
	height: 300px;
	/* width: 33%; */
	float:	right;
	padding-left:	30px;
}

.client	{
	height: 80%;
}

.goods	{
	height: 100%;
	width: 100%;
}

.right_top {
	height: 40px;
	background-color:	white;
	font-weight: bold;
	font-size: 40px;
	padding: 10px;
}

.right_middle {
	/* height: 25%; */
	height: 30px;
	margin-top: 1px;
	background-color:	white;
	padding: 15px;
	padding-left: 10px;
}

.items_left {
	color: rgba(0,0,0,.6);
	background-color: light-gray;
	display: inline-block;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	height: 20px;
}

.round {
	display: inline-block;
	height: 14px;
	width: 20px;
	border-radius: 50%;
	background-color: orange;
	text-align: center;
	padding-top: 6px;
	font-size: 9px; 
	color: white;
	float: right;
	margin-left: 2px;
}

.right_bottom {
	font-weight: bold;
	font-size: 40px;
	height: 40px;
	margin-top: 1px;
	background-color:	white;
	padding: 10px;
}

.right_under_all {
	background-color:	white;
	height: 40px;
	margin-top: 1px;
}

.find_goods {
	background-color: white;
	height: 30%;
	padding: 10px 10px 10px 10px;
	/* padding-bottom: 5%; */
	width: 100%;
	box-sizing: border-box;
}

.buy_button {
	/* margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px; */
	background-color: #2185D0;
	width: 40%;
	height: 100%;
	box-sizing: border-box;
	float: left;
	color: white;
	font-size: 30px;
	border: 0px;
}

.text_class {
	/* margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px; */
	height: 100%;
	background-color: white;
	width: 60%;
	box-sizing: border-box;
	float: left;
}

.buy {
	margin-top: 1px;
	background-color: white;
	height: 40px;
	padding: 10px 10px 10px 10px;
}

.general {
	width: 240px;
	float: left;
	background-color: white;
	height: 25px;
	padding: 10px 5px 5px 5px;
	font-size: 20px;
}

.cross {
	float: right;
	height: 30px;
	width: 30px;
	border-radius: 5px;
	background-color: red;
	display: inline-block;
	margin-right: 0px;
	text-align: center;
	color: white;
	/* padding-top: 6px; */
}

.bought {
	float: right;
	height: 30px;
	color: rgba(0,0,0,.6);
	background: linear-gradient(transparent,rgba(0,0,0,.05)) #F8F8F8;
	width: 100px;
	border-radius: 5px;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
}

.minus {
	float: left;
	/* padding-top: 5px;
	padding-bottom: 5px; */
	text-align: center;
	background-color: red;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	font-size: 22px;
	margin-right: 10px;
	color: white;
}

.number {
	float: left;
	height: 24px;
	width: 30px;
	border-radius: 5px;
	background-color: light-blue;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	padding-top: 6px;
}

.plus {
	text-align: center;
	background-color: #21BA45;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	font-size: 22px;
	color: white;
}